<div [ngStyle]="containerStyle">
  <div *ngIf="borders.ht" [ngStyle]="htStyle">
    <ngx-ruler
      #rulerHT
      type="horizontal"
      [unit]="unit" 
      [backgroundColor]="bgColor" 
      [lineColor]="markColor" 
      [textColor]="labelColor" >
    </ngx-ruler>
  </div>
  <div *ngIf="borders.vl" [ngStyle]="vlStyle">
    <ngx-ruler
      #rulerVL
      type="vertical"
      [unit]="unit"
      [backgroundColor]="bgColor" 
      [lineColor]="markColor" 
      [textColor]="labelColor" >
    </ngx-ruler>
  </div>
  <div *ngIf="borders.vr" [ngStyle]="vrStyle">
    <ngx-ruler
      #rulerVR
      type="vertical"
      direction="start"
      [unit]="unit"
      [backgroundColor]="bgColor" 
      [lineColor]="markColor" 
      [textColor]="labelColor" >
    </ngx-ruler>
  </div>
  <div *ngIf="borders.hb" [ngStyle]="hbStyle">
    <ngx-ruler
      #rulerHB
      type="horizontal"
      direction="start"
      [unit]="unit" 
      [backgroundColor]="bgColor" 
      [lineColor]="markColor" 
      [textColor]="labelColor" >
    </ngx-ruler>
  </div>
</div>