<h1 class="title">Тетрадка в клеточку: рисуем по точкам</h1>

<div class="content">
  <app-draw 
    [(polylines)]="polylines"
    [isEditLine]="isEditPolyLine" 
    [editablePolyline]="selectedPolyline" 
    [editablePolylineCopyBefore]="selectedPolylineCopyBefore"
    (isEditLineToogle)="isEditPolyLine=$event"
    (editablePolylineChange)="selectedPolyline=$event" 
    (editablePolylineCopyBeforeChange)="selectedPolylineCopyBefore=$event" >
  </app-draw>
  <app-polyline-list 
    class="polyline-list"
    [(polylines)]="polylines" 
    [isEditLine]="isEditPolyLine" 
    [selectedPolyline]="selectedPolyline" 
    [selectedPolylineCopyBefore]="selectedPolylineCopyBefore"
    (isEditLineToogle)="isEditPolyLine=$event"
    (selectedPolylineChange)="selectedPolyline=$event" 
    (selectedPolylineCopyBeforeChange)="selectedPolylineCopyBefore=$event" >
  </app-polyline-list>
</div>