<div>
  <p>Тест библиотеки рисования</p>
  <a 
    href="https://www.npmjs.com/package/ngx-svg" 
    target="_blank" rel="noopener noreferrer"
  >
    ngx-svg
  </a>

  <app-draw 
    [(polylines)]="polylines"
    [editablePolyline]="selectedPolyline" (editablePolylineChange)="selectedPolyline=$event"
    [isEditLine]="isEditPolyLine" (isEditLineToogle)="isEditPolyLine=$event" >
  </app-draw>

  <app-polyline-list 
    *ngIf="polylines.length" 
    [(polylines)]="polylines" 
    [selectedPolyline]="selectedPolyline" (selectedPolylineChange)="selectedPolyline=$event"
    [isEditLine]="isEditPolyLine" (isEditLineToogle)="isEditPolyLine=$event" >
  </app-polyline-list>

  <p *ngIf="isEditPolyLine">!</p>

  <!--<app-polilyne-editor></app-polilyne-editor>-->

</div>