.polylines {
  margin: 0;
  padding: 0;
  list-style: none;
}

.polyline {
  display: flex;
  min-height: 32px;
  margin-bottom: 1px;

  line-height: 32px;

  background-color: #EEEEEE;
}

.info-polyline {
  display: flex;
  flex-grow: 2;
}

.check-polyline {
  width: 10px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;

  background-color: #CCCCCC;
}

.props-polyline {
  display: flex;
}

.index-polyline {
  min-width: 20px;
  margin-right: 5px;

  color: #999999;
}

.coords-polyline {
  display: flex;
  margin-right: 20px;
}

.coords-polyline p {
  margin: 0;
  padding: 0;
}

.btns-coords-polyline {
  margin-left: 10px;
}