::ng-deep .point {
  fill-opacity: 0.75;
}

::ng-deep .point:hover {
  fill-opacity: 1;
}

::ng-deep .polygone {
  stroke-linejoin: round;
  stroke-linecap: round;
}

::ng-deep .polyline {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-opacity: 0.5;
}

::ng-deep .polyline:hover {
  stroke-opacity: 1;
}

::ng-deep .editable-polyline {
  stroke-width: 5;
  stroke-opacity: 1;
}