<p>draw works!</p>

<svg-container
  containerId="svg-element"
  [height]="height"
  [showGrid]="isShowGrid"
  [hoverable]="isHoverable"
  [pointSize]="sizePoint"
  (clickEvent)="onClick($event)"
  (mouseMoveEvent)="onMouseMove($event)"
>

  <svg-polygon
    *ngFor="let item of polygons"
    points={{item.coords}}
    fill="none"
    [borderSize]="borderSize"
    borderColor={{item.color}} >
  </svg-polygon>

  <svg-polyline
    *ngFor="let item of polylines"
    points={{item.coords}}
    fill="none"
    [borderSize]="borderSize"
    borderColor={{item.color}} 
    (clickEvent)="onClickPolyline($event)" >
  </svg-polyline>

  <svg-polyline
    *ngIf="isEditLine"
    points={{editPolyline.coords}}
    fill="none"
    [borderSize]="borderSizeEditLine"
    borderColor={{editPolyline.color}} >
  </svg-polyline>

  <svg-text 
    *ngFor="let item of points"
    text={{item.label.text}}
    x={{item.label.x}} y={{item.label.y}}
    [size]="sizeText" [color]="colorText" 
    pointer-events="none" >
  </svg-text>

  <svg-circle
    *ngFor="let item of points"
    [radius]="rCircle"
    x={{item.circle.x}} y={{item.circle.y}}
    color={{item.circle.color}}
    (clickEvent)="onClickCircle($event)"
    (doubleClickEvent)="onDoubleClickEl($event)"
    focusable="true" tabindex="0" >
  </svg-circle>

</svg-container>
